/* line 1, ../scss/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

/* line 21, ../scss/_reset.scss */
html, body {
  font-size: 100%; }

/* line 26, ../scss/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 31, ../scss/_reset.scss */
audio, canvas, video {
  display: inline-block; }

/* line 36, ../scss/_reset.scss */
audio:not([controls]) {
  display: none; }

/* line 41, ../scss/_reset.scss */
[hidden] {
  display: none; }

/* line 47, ../scss/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 54, ../scss/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 60, ../scss/_reset.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
/* line 69, ../scss/_reset.scss */
a:hover, a:active {
  outline: 0; }

/* line 75, ../scss/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 80, ../scss/_reset.scss */
b, strong {
  font-weight: bold; }

/* line 84, ../scss/_reset.scss */
blockquote {
  margin: 1em 40px; }

/* line 89, ../scss/_reset.scss */
dfn {
  font-style: italic; }

/* line 94, ../scss/_reset.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 101, ../scss/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 108, ../scss/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 115, ../scss/_reset.scss */
blockquote, q {
  quotes: none; }
  /* line 117, ../scss/_reset.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

/* line 123, ../scss/_reset.scss */
small {
  font-size: 75%; }

/* line 127, ../scss/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 134, ../scss/_reset.scss */
sup {
  top: -0.5em; }

/* line 138, ../scss/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 143, ../scss/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 150, ../scss/_reset.scss */
img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* line 158, ../scss/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 163, ../scss/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 169, ../scss/_reset.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal; }

/* line 175, ../scss/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

/* line 182, ../scss/_reset.scss */
button, input {
  line-height: normal; }

/* line 186, ../scss/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 192, ../scss/_reset.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 196, ../scss/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 201, ../scss/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

/* line 209, ../scss/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* line 215, ../scss/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 220, ../scss/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 226, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, ../scss/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 7, ../scss/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 22, ../scss/_typography.scss */
body {
  -webkit-font-feature-settings: "kern", "liga", "frac", "pnum";
  -moz-font-feature-settings: "kern", "liga", "frac", "pnum";
  -ms-font-feature-settings: "kern", "liga", "frac", "pnum";
  font-feature-settings: "kern", "liga", "frac", "pnum";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  color: #505b62;
  font-family: "font-family: " questa_sansregular ", " Helvetica-neue ",Arial,sans-serif";
  font-size: 1em;
  line-height: 1.5; }

/* line 32, ../scss/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "font-family: " questa_sansregular ", " Helvetica-neue ",Arial,sans-serif";
  line-height: 1.25;
  margin: 0;
  color: #22272a; }

/* line 44, ../scss/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 48, ../scss/_typography.scss */
h2 {
  font-size: 2em; }

/* line 52, ../scss/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 56, ../scss/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 60, ../scss/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 64, ../scss/_typography.scss */
h6 {
  font-size: 1em; }

/* line 68, ../scss/_typography.scss */
p {
  margin: 0 0 0.75em;
  font-family: "font-family: " questa_sansregular ", " Helvetica-neue ",Arial,sans-serif"; }

/* line 73, ../scss/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #505b62;
  text-decoration: none; }
  /* line 78, ../scss/_typography.scss */
  a:hover {
    color: #2d3438;
    border-color: #2d3438; }
  /* line 83, ../scss/_typography.scss */
  a:active, a:focus {
    color: #2d3438;
    border-color: #2d3438;
    outline: none; }

/* line 90, ../scss/_typography.scss */
header {
  color: #22272a; }

/* line 94, ../scss/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 102, ../scss/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 108, ../scss/_typography.scss */
blockquote {
  border-left: 2px solid #ddd;
  color: #72838d;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 115, ../scss/_typography.scss */
cite {
  color: #8e9ba4;
  font-style: italic; }
  /* line 119, ../scss/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 8, ../scss/main.scss */
body {
  padding-left: 1em;
  padding-right: 1em; }

/* line 13, ../scss/main.scss */
a {
  border-bottom: 1px solid #505b62; }

/* line 18, ../scss/main.scss */
a:hover {
  color: #e85151; }

/* line 22, ../scss/main.scss */
header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  border-top: 2px solid #e85151; }
  /* line 15, ../scss/bourbon/addons/_clearfix.scss */
  header:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 540px) {
    /* line 22, ../scss/main.scss */
    header {
      margin-top: 2em; } }
  /* line 33, ../scss/main.scss */
  header #logo-container {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    /* line 85, ../scss/neat/grid/_span-columns.scss */
    header #logo-container:last-child {
      margin-right: 0; }
    @media screen and (max-width: 540px) {
      /* line 33, ../scss/main.scss */
      header #logo-container {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%; }
        /* line 85, ../scss/neat/grid/_span-columns.scss */
        header #logo-container:last-child {
          margin-right: 0; } }
    /* line 40, ../scss/main.scss */
    header #logo-container #logo {
      padding-top: 0.5em;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: -0.05em;
      float: none; }
      /* line 49, ../scss/main.scss */
      header #logo-container #logo img {
        height: 60px; }
    /* line 54, ../scss/main.scss */
    header #logo-container #subtitle {
      color: #e85151;
      font-weight: bold;
      font-size: 18px; }
  /* line 61, ../scss/main.scss */
  header a {
    color: #e85151;
    text-decoration: none;
    border: none; }
    /* line 66, ../scss/main.scss */
    header a:hover {
      color: #d11c1c;
      border-color: #d11c1c; }
    /* line 71, ../scss/main.scss */
    header a:active, header a:focus {
      color: #d11c1c;
      border-color: #d11c1c; }
  /* line 77, ../scss/main.scss */
  header nav {
    text-align: right;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    /* line 85, ../scss/neat/grid/_span-columns.scss */
    header nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 540px) {
      /* line 77, ../scss/main.scss */
      header nav {
        text-align: left;
        margin-top: 1em;
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%; }
        /* line 85, ../scss/neat/grid/_span-columns.scss */
        header nav:last-child {
          margin-right: 0; } }
    /* line 87, ../scss/main.scss */
    header nav ul {
      padding-top: 0.5em;
      line-height: 60px; }
      /* line 92, ../scss/main.scss */
      header nav ul li {
        display: inline-block;
        margin-left: 1em; }
        @media screen and (max-width: 540px) {
          /* line 92, ../scss/main.scss */
          header nav ul li {
            margin-left: 0;
            margin-right: 1em; } }
        /* line 101, ../scss/main.scss */
        header nav ul li a {
          font-weight: bold; }
        /* line 105, ../scss/main.scss */
        header nav ul li a.bordered {
          border-radius: 0.2em;
          padding: 0.4em;
          padding-left: 0.8em;
          padding-right: 0.8em;
          border: 2px solid #e85151; }

/* line 118, ../scss/main.scss */
#content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em; }
  /* line 15, ../scss/bourbon/addons/_clearfix.scss */
  #content:after {
    content: "";
    display: table;
    clear: both; }
  /* line 123, ../scss/main.scss */
  #content section.intro {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em; }
    /* line 15, ../scss/bourbon/addons/_clearfix.scss */
    #content section.intro:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 540px) {
      /* line 123, ../scss/main.scss */
      #content section.intro {
        margin-bottom: 1em; } }
    /* line 132, ../scss/main.scss */
    #content section.intro h1 {
      font-size: 8em;
      border-top: 2px solid #22272a;
      letter-spacing: -0.05em;
      margin-top: 1.2em;
      margin-bottom: 1em; }
      @media screen and (max-width: 540px) {
        /* line 132, ../scss/main.scss */
        #content section.intro h1 {
          font-size: 4em;
          line-height: 1.2em;
          padding-top: 0.4em; } }
      /* line 145, ../scss/main.scss */
      #content section.intro h1 span.nl {
        display: none; }
        @media screen and (max-width: 540px) {
          /* line 145, ../scss/main.scss */
          #content section.intro h1 span.nl {
            display: block; } }
    /* line 154, ../scss/main.scss */
    #content section.intro p {
      font-size: 2.0em;
      line-height: 1.5em;
      letter-spacing: 0.02em; }
  /* line 161, ../scss/main.scss */
  #content section.row {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 5em; }
    /* line 15, ../scss/bourbon/addons/_clearfix.scss */
    #content section.row:after {
      content: "";
      display: table;
      clear: both; }
    /* line 167, ../scss/main.scss */
    #content section.row h2 {
      text-transform: uppercase;
      font-size: 1.0em;
      font-weight: bold;
      color: #e85151;
      margin-bottom: 0.05em; }
    /* line 175, ../scss/main.scss */
    #content section.row p {
      font-size: 1.2em;
      line-height: 1.6em; }
    /* line 180, ../scss/main.scss */
    #content section.row .col, #content section.row .col-full {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      border-top: 2px solid #505b62;
      padding-top: 1em;
      padding-bottom: 3em; }
      /* line 85, ../scss/neat/grid/_span-columns.scss */
      #content section.row .col:last-child, #content section.row .col-full:last-child {
        margin-right: 0; }
      @media screen and (max-width: 540px) {
        /* line 180, ../scss/main.scss */
        #content section.row .col, #content section.row .col-full {
          float: left;
          display: block;
          margin-right: 7.4229703521%;
          width: 100%; }
          /* line 85, ../scss/neat/grid/_span-columns.scss */
          #content section.row .col:last-child, #content section.row .col-full:last-child {
            margin-right: 0; } }
    /* line 191, ../scss/main.scss */
    #content section.row .col-full {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      /* line 85, ../scss/neat/grid/_span-columns.scss */
      #content section.row .col-full:last-child {
        margin-right: 0; }
      @media screen and (max-width: 540px) {
        /* line 191, ../scss/main.scss */
        #content section.row .col-full {
          float: left;
          display: block;
          margin-right: 7.4229703521%;
          width: 100%; }
          /* line 85, ../scss/neat/grid/_span-columns.scss */
          #content section.row .col-full:last-child {
            margin-right: 0; } }
  /* line 199, ../scss/main.scss */
  #content .photo-grid {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    /* line 205, ../scss/main.scss */
    #content .photo-grid a {
      margin-bottom: 20px;
      border: none;
      text-decoration: none; }
    /* line 211, ../scss/main.scss */
    #content .photo-grid a.col-1 {
      width: 100%; }
    /* line 215, ../scss/main.scss */
    #content .photo-grid a.col-2 {
      width: 49%;
      width: calc(50% - 12px); }
    /* line 219, ../scss/main.scss */
    #content .photo-grid a.col-3 {
      width: 32%;
      width: calc(33.33333% - 16px); }
    @media screen and (max-width: 540px) {
      /* line 224, ../scss/main.scss */
      #content .photo-grid a {
        margin-bottom: 10px; }
      /* line 228, ../scss/main.scss */
      #content .photo-grid a.col-2 {
        width: 49%;
        width: calc(50% - 7px); } }
